#cloud-config
hostname: {{vm_name|split('.')|first}}
manage_etc_hosts: true
fqdn: {{vm_name}}
user: {{vm_user}}
disable_root: false
password: {{vm_password}}
ssh_authorized_keys:
{% for item in vm_sshkeys.split('\n') %}
  - {{item|trim}}
{% endfor %}
chpasswd:
  expire: false
package_upgrade: true
