version: 1
config:
    - type: physical
      name: eth0
      mac_address: '{{vm_mac}}'
      subnets:
      - type: static
        address: '{{vm_ip}}'
        netmask: '{{vm_netmask}}'
        gateway: '{{vm_gw}}'
    - type: nameserver
      address:
      - '{{vm_nameservers}}'
